.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__group-name
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member 
        - @group.users.each do |user|
          = user.name

    = link_to edit_group_path(@group), class: "main-header__edit-btn" do
      Edit
  .message
    - @messages.each do |message|
      = render partial: "messages/message", locals: {message: message}

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      = f.label :image, class: 'form__mask__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     .input-box
  -#     = f.text_field :content, class: 'input-box__text', id: "message_image", placeholder: 'type a message'
  -#     .input-box__mask
  -#       = f.label :image, class: 'input-box__image' do
  -#         = icon('fas', 'image', class: 'input-box__image__icon')
  -#         = f.file_field :image, class: 'input-box__image__file', id:"message_image"
  -#     = f.submit 'Send', class: 'form__submit'